{% extends 'base.html'%}

{% block sidebar %}

{% endblock %}

{% block post %}

        <div class="card mb-3">
             <h1 align="center">ОБО МНЕ</h1>
          <div class="card-body">
              <h5 class="card-title">{{ item.title}}</h5>
              <div class="media">
                      <p align="center">
                          <img src="https://www.samplesociety.ru/images/news/2019/04/02/Faberlic_Very_berry_700.jpg" alt="" class="mr-3">
                      </p>
                  <div class="media-body">
                      <p class="card-text">Лина Дембикова родилась 19 апреля 1990 года в Москве.
                          С детства занималась синхронным плаванием. В 12 лет стала мастером спорта в России.
                          После победы на чемпионате России ей пришлось выбирать: или большой спорт и никакой учебы,
                          или все-таки знания.
                          Девушка выбрала второе.
                          Окончив школу с золотой медалью Лина поступила в Московский государственный лингвистический
                          университет им. Мориса Тереза.
                          В 16 родители отправили дочь в Лондон,
                          где она поступила в University of Arts London на факультет Fashion styling.
                          Изучение иностранных языков в вузе очень помогло ей в учебе за границей.
                          Спустя три года Дембикова вернулась в Москву, где зарабатывала на жизнь репетиторством,
                          мечтая запустить собственный дизайн-проект.
                          Вскоре она открыла Sunday Up Market — дизайнерский рынок,
                          на котором можно купить одежду малоизвестных российских брендов.
                          На тот момент он был самым крупным и необычными стартапом в модной индустрии.
                          В нем она работала полгода, была и стилистом, и редактором. Затем Лина начала свое дело,
                          оформила ООО.
                          Так появилась ее имидж-студия, к которой постепенно подключились другие собственные творческие проекты
                          и заработал фото- и видео-продакшн.
                          Вскоре появились популярные fashion-проекты Лины — сервис Dress Up Bar и бьюти-бар Call me, baby.
                          Популярный стилист работала шеф-стилистом и ведущей программы «Перезагрузка» на ТНТ.</p>
                  </div>
              </div>

          </div>
        </div>

{% endblock %}

